@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$main-color: #242121;
$dark-color: #242121;
$light-color: white;
$light-grey: #CCCCCC;
$dark-grey: #999999;
$secondary-color: hsl(170, 100%, 50%);

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: $light-color;
  background: $dark-color;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}
h1 {
  margin-top: 5vh;
  &+ p {
    font-size: 2.1rem;
  }
}
.content {
  flex: 1;
  margin-right: 30px;
}
.dataviz {
  flex: 2;
  margin-top: 50px;
}
.module {
  font-size: 1.4rem;
  &_bar {
    fill: $secondary-color;
  }
  &_id {
    font-weight: 700;
  }
  &_hours {
    fill: $secondary-color;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.x.axis text {
  font-size: 1.2rem;
  fill: $dark-grey;
}

.axis path,
.axis line {
  fill: none;
  stroke: $dark-grey;
}

.x.axis path {
  display: none;
}
.y.axis {
  text-anchor: end;
  font-size: 1.4rem;
  line + text {
    font-weight: bold;
  }
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
  }
}
