@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$main-color: #242121;
$dark-color: #242121;
$light-color: white;
$light-grey: #CCCCCC;
$dark-grey: #999999;
$secondary-color: hsl(170, 100%, 50%);

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: $light-color;
  background: $dark-color;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}
h1 {
  margin-top: 5vh;
  &+ p {
    font-size: 2.1rem;
  }
}
.content {
  flex: 1;
  margin-right: 30px;
}
.dataviz {
  flex: 2;
  margin-top: 50px;
}
.module {
  font-size: 1.4rem;
  &_bar {
    fill: $secondary-color;
  }
  &_id {
    font-weight: 700;
  }
  &_hours {
    fill: $secondary-color;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.x.axis text {
  font-size: 1.2rem;
  fill: $dark-grey;
}

.axis path,
.axis line {
  fill: none;
  stroke: $dark-grey;
}

.x.axis path {
  display: none;
}
.y.axis {
  text-anchor: end;
  font-size: 1.4rem;
  line + text {
    font-weight: bold;
  }
}


.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  color: $light-grey;
}

label {
  margin-right: 20px;
  font-size: 1.4rem;
}

/* ---- LEGEND ----- */

.legend {
  font-size: 1.4rem;
  padding-left: 30px;
  >* {
    position: relative;
    margin-bottom: 5px;
    &::before {
      content:"";
      display: inline-block;
      width: 20px;
      height: 10px;
      margin-right: 6px;
    }
  }
  .cm::before { background: darken($secondary-color, 25%); }
  .td::before { background: darken($secondary-color, 15%); }
  .tp::before { background: $secondary-color; }
}

/* ---- SELECT ----- */

.select {
  position: relative;
  display: block;
  width: 20rem;
  height: 4rem;
  overflow: hidden;
  margin-right: 40px;
  &::after {
    content: '';
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    transform: rotate(45deg);
    border-right: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    pointer-events: none;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  color: $light-grey;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #666;
  border-radius: 0;
  background: none;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5rem;
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
}


/* ---- SWITCH ----- */

$height: 22px;
$space: 2px;
$width: $height*2;

.switch {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  input {
    display:none;
    &:checked + .slider {
      background-color: $secondary-color;
    }
    &:checked + .slider:before {
      transform: translateX($height);
    }
  }
  .slider {
    background-color: #999;
    position: relative;
    display: inline-block;
    height: $height;
    width: $width;
    margin-right: 10px;
    transition: .4s;
    &::before {
      content: "";
      position: absolute;
      left: $space;
      bottom: $space;
      height: $height - $space*2;
      width: $height - $space*2;
      background-color: $dark-color;
      transition: .4s;
    }
    &.round {
      border-radius: $height;
      &::before {
        border-radius: 50%;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
  }
}
